@use '@angular/material' as mat;
@use '../../../theme-colors' as etisalat-theme;
html {
  @include mat.theme(
    (
      color: etisalat-theme.$primary-palette,
      typography: Roboto,
      density: 0,
    )
  );
  // to know the name of the token we just inspect the element in the browser and remove any prefix
  @include mat.theme-overrides(
    (
      surface: #ffffff,
      on-surface: #000001,
    )
  );
}

body {
  color-scheme: light dark;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
